 
<div class="container mr-3">
    <div class="row ">
      <div class="col-sm-3 mb-4 " >
        <div class="card" style="width: 250px;">
          <a href="{% url "titancategories" %}"><img src="static/images/cardtitan3.jpg" class="card-img-top" alt="..." ></a>
          <div class="card-body">
            <h5 class="card-title">Titan</h5>
            <p class="card-text">Titan watches are known for their elegant designs, attention to detail, and craftsmanship.</p>
            <a href="{% url "titancategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4 ml-4 " >
        <div class="card" style="width: 250px;">
          <img src="static/images/cardtitan1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titan</h5>
            <p class="card-text">Titan offers a diverse range of watches catering to various demographics and preferences..</p>
            <a href="{% url "titancategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 250px; ">
          <img src="static/images/timex11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Timex</h5>
            <p class="card-text">Timex offers a wide range of watches catering to various styles, preferences, and functionalities. .</p>
            <a href="{% url "timexcategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 250px;">
          <img src="static/images/timex5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Timex</h5>
            <p class="card-text">Timex timepieces are often more affordable compared to other brands in the same category, .</p>
            <a href="{% url "timexcategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 250px;">
          <img src="static/images/quartzc1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NavyForce</h5>
            <p class="card-text">Movement: Japanese Imported quartz analog movement.</p>
            <a href="{% url "navycategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 250px;">
          <img src="static/images/quartzc2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NavyForce</h5>
            <p class="card-text">Multifunction Design: Simple and luxurious dial, covers the week,date, time display,.</p>
            <a href="{% url "navycategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
     
     
     
     
     
      <div class="col-sm-3 mb-4">
        <div class="card" style="width: 250px;">
          <img src="static/images/noice1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Noise</h5>
            <p class="card-text">Enjoy clear and vibrant visuals on its big and bright TFT display it is so attractive piece.</p>
            <a href="{% url "noisecategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4 ">
        <div class="card" style="width: 250px;">
          <img src="static/images/noice2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Noise</h5>
            <p class="card-text">AMOLED Always On Display: Watch your world come to life on a display.</p>
            <a href="{% url "noisecategories" %}" class="btn btn-primary">View More <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> 

  