{% extends "base.html" %}

{% block content %}


<div class="contact-container">
    <div class="contact">
        <h3>Gaurav upadhyay</h3>
        <pre></pre>
        <pre><p><b>Contact <i class="fa-solid fa-phone"></i></b>  : <a href="tel: 9170648025">9170648025 </a></p><p><b>Email <i class=" fa-solid fa-envelope"></i> :</b><a href="mailto:gauravupadhyay6095@gmail.com">gauravupadhyay6095@gmail.com</a></p>
<a href="{% url "home" %}" class='contact-button'>Thanku for Visit</a>
        
    </div>
</div>



{% endblock content %}




