{% extends "base.html" %}

{% block content %}

<div class="card" style="width: 300px; height: 480px; margin-left: 35%;">
    <img src="static/images/timex111.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Timex </h5>
      <p class="card-text"></p>TIMEX E-Class Premium-Sport Collection Men Analog Green Dial Coloured Quartz Watch,
      <a href="#" class="btn btn-primary"> price 6,636</a>
    </div>
  </div>





{% endblock content %}