{% extends "base.html" %}


{% block content %}

<div class="card" style="width: 300px; height: 480px; margin-left: 35%;">
    <img src="static/images/cardtitan3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Titan </h5>
      <p class="card-text">Titan Analog Brown Dial Men's Watch-1806QM03.</p>
      <a href="#" class="btn btn-primary"> price 4,791</a>
    </div>
  </div>


{% endblock content %}


Titan Black Dial Analog Watch for Men -1806NM01

